* {
    padding: 0;
    margin: 0;

}

nav {
    background-color: white;
}
nav img {
    height: 60px;
    width: 55px;
    position: relative;
    left: 10em;
    z-index: 1;
}
nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
  position: relative;
  left: 35em;
  bottom: 1em;
  margin-left: 10px;
  z-index: 1;
  
}
nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -0.5rem;
    left:0;
    
    transform:scaleX(0) ;
    background-color: black;
    transform-origin: right;
    transition: transform 150ms ease-in-out;

}
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left ;
}
.contain-image {
width: 1330px;
position: relative;
left: 0.5em;
bottom: 4em;

}
.contain-head {
   color:black;
    font-size: 70px;
    text-align: center;
    position: relative;
    bottom: 8em;
 
}

.container {
   padding-left: 40em;
   position: absolute;
   top: 15em;
   
}
.icons {
    position: relative;
    bottom: 30em;
 padding-left: 37em;
 
 
}
.desc {
    text-align:center;
     position:relative;
      bottom: 27em;
}
.desc2 {
    text-align:center;
     position:relative;
      bottom: 27em;
}
@media screen and (max-width: 720px) {
 nav {
    background-color: white;
 }  
 nav img {
    height: 30px;
    width: 25px;
    position: relative;
    left: 1rem;
 }
 nav a {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 6em;
 }
 .contain-image {
    width:250px;
    height: 400px;
    position: relative;
    bottom: 7rem;
 }
 .contain-head {
    font-size: 20px;
    position: relative;
    bottom: 19em;

}
.desc {
    text-align: center;
    font-size: 15px;
position: relative;
bottom: 20rem;
position: absolute;

}
.desc2 {
    text-align: center;
    font-size: 15px;
position: relative;
bottom: 20rem;
position: absolute;

}
}