* {
    padding: 0;
    margin: 0;

}

nav {
    background-color: white;
}
nav img {
    height: 60px;
    width: 55px;
    position: relative;
    left: 10em;
    z-index: 1;
}
nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
  position: relative;
  left: 35em;
  bottom: 2em;
  margin-left: 10px;
  z-index: 1;
  
}
nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -0.5rem;
    left:0;
    
    transform:scaleX(0) ;
    background-color: black;
    transform-origin: right;
    transition: transform 150ms ease-in-out;

}
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left ;
}
.contain-image {
width: 1330px;
position: relative;
left: 0.5em;
bottom: 4em;

}
.contain-head {
   color:black;
    font-size: 70px;
    text-align: center;
    position: relative;
    bottom: 8em;
 
}

.container {
   padding-left: 40em;
   position: absolute;
   top: 15em;
   
}
.icons {
    position: relative;
    bottom: 30em;
 padding-left: 37em;
 
 
}
.desc {
    text-align:center;
     position:relative;
      bottom: 27em;
}
@media screen and (max-width: 720px) {
    * {padding: 0;
        margin: 0;
        width: 100%;
    }
 .contain-image {
    width: 500px;
    height: 400px;
    position: relative;
    bottom: 5em;
 }
 nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 10px;
  position: relative;
 left: 7em;
  bottom: 2em;
  margin-left: 7px;
  z-index: 1;
  display: flex;
  flex-direction: row;
 }

 nav img {
    height: 35px;
    width: 30px;
    position: relative;
    bottom: -2em;
    left: 1em;
    z-index: 1;
}
.contain-head {
    font-size: 20px;
    position: relative;
  left : -5em;
    bottom: 15em;
}
.desc {
    position: absolute;
    font-size: 13px;
    right: 4em;
    top: 18em;

}
.icons {
    position: relative;
    left: -30em;
    bottom: 13em;
    
    
}
}