* {
    padding: 0;
    margin: 0;
}
body {
    background-color: aliceblue;
}
nav {
    background-color: white;
}
nav img {
    height: 60px;
    width: 55px;
    position: relative;
    left: 10em;
    z-index: 1;
}
nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
  position: relative;
  left: 35em;
  bottom: 1em;
  margin-left: 10px;
  z-index: 1;
  
}
nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -0.5rem;
    left:0;
    
    transform:scaleX(0) ;
    background-color: black;
    transform-origin: right;
    transition: transform 150ms ease-in-out;

}
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left ;
}
.enquiry {
    text-align: center;
    color: blue;
    position: relative;
    bottom: 1.5em;
}
.note {
    text-align: center;
    color: darkslateblue;
    position: relative;
    bottom: 0.6em;
}
.container {
    position: relative;
    bottom: -5em;
}
.all-class {
    display: flex;
    flex-direction: column;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
background-color:darkblue;
height:75vh;
width: 100%;
}
.img-container {
    display: flex;
}
.contact-image {
    width: 300px;
    position: absolute;
    right: 100px;
}
.input-item {
padding: 10px;
border-radius: 5px;
position: absolute;
border: 0;
right: 800px;
top: 200px;
width: 500px;
}
.input-item2 {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top:250px;
right:800px;
    width: 500px;
    border: 0;
}
textarea {
    position: absolute;
    right: 1000px;
    top:300px;
    font-family: 'Times New Roman', Times, serif;
    padding: 18px;
}
.msg-btn {
    position: absolute;
    top: 400px;
    right: 73em;
    padding: 10px;
    border-radius: 10px;
    background-color:gainsboro;
    color: black;
border: 0;
cursor: pointer;
}
.msg-btn:hover {
    color: gray;
}
.input-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #1d1d1d;
    color: white;
    display: flex;
    background-color: #1d1d1d;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
}
footer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
footer p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:560px
}
.copyright {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top:580px
}
.input {
    background-color: #1d1d1d;
    border: 0;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top:560px
}
.input::placeholder {
    color: white;
}
.btn-sign-up {
    padding: 10px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top:590px
}
.btn-sign-up:hover {
    background-color: gainsboro;
    color: gray;
}