* {
    padding: 0;
    margin: 0;
}
body {
    background-color: aliceblue;
}
nav {
    background-color: white;
}
nav img {
    height: 60px;
    width: 55px;
    position: relative;
    left: 10em;
    z-index: 1;
}
nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
  position: relative;
  left: 35em;
  bottom: 1em;
  margin-left: 10px;
  z-index: 1;
  
}
nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -0.5rem;
    left:0;
    
    transform:scaleX(0) ;
    background-color: black;
    transform-origin: right;
    transition: transform 150ms ease-in-out;

}
nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left ;
}
.enquiry {
    text-align: center;
    color: blue
}
.note {
    text-align: center;
    color: darkslateblue;
    position: relative;
    bottom: -0.5em;
}
.container {
    position: relative;
    bottom: -5em;
}
form {
    background-color:darkblue;
    width: 99.92%;
    position: absolute;
    top: 5em;
    position: relative;
    left: 0.01em;
  
    border-radius: 8px;
    height: 77vh;
}
.input-item {
    padding: 13px;
    position: relative;
    left: 2em;
    bottom: -2em;
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 500px;
}
.input-item2 {
    padding: 10px;
    position: relative;
    left: -35em;
    width: 500px;
    bottom: -5rem;
    border: 1px solid gainsboro;
    border-radius: 8px; 
}
.input-item::placeholder {
    text-align: center;
    position: relative;
    left:-11rem
}
.input-item2::placeholder {
    text-align: center;
    position: relative;
    left:-11rem;
}
textarea {
    padding: 50px;
    position: relative;
    left: -68em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gainsboro;
    border-radius: 8px;
    bottom: -16em;
    font-size: 15px;
    
}
button {
    position: relative;
    bottom: 2em;
    left: 5em;
    border: 1px solid gainsboro;
    padding: 20px;
    background-color:gainsboro;
    color: gray;
    border-radius: 20px;
cursor: pointer;
color: black;
}
button:hover {
    color: gray;
}
.contact-image {
    width: 400px;
    height: 300px;
    padding-left: 38em;
}
footer {
   background-color:#1c1c1c;
   height:100vh;
}
.contact-head {
    padding-left: 30em;
    position: relative;
    bottom: -5rem;
}
.sign-up {
    padding-left: 50em;
    position: relative;
    bottom: -3rem ;
}
.address-head {
    position: relative;
    bottom: -10rem;
}
.address-heading {
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 2rem;
}
.address-para {
    color:gainsboro;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 1rem;
}
.address-para2 {
    color: gainsboro;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contact-heading {
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-up-head {
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sign-item {
   padding-bottom: 12px;
   margin-bottom: 36px;
    border:0;
    background-color:#1c1c1c;
    border-bottom: 1px solid #ccc;
   font-size: 18px;
  color: white;

}
.sign-item::placeholder {
    color: white;
    font-size: 13px;
}
.btn-sign {
    position: relative;
    bottom: -4rem;
    left: -13rem;
color: white;
background-color: transparent;
}

@media screen and (max-width: 720px) {
 nav {

 } 
}